# Archivos Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
.venv/
venv/
env/

# Configuración sensible (API keys)
.env

# IDEs
.vscode/
.idea/
# Logs # para no subir logs a github
*.log
# Que no guarde la carpeta de salidas_de_informes 
salidas_de_informes/
#
debug_proyecto.log
contexto_para_llm.txt
RESUMENES_MAP.md
desktop.ini